<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahjong"
    android:versionCode="2"
    android:versionName="2.2.0 build 230909" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="26" />
    
    <!--  允许程序在手机屏幕关闭后后台进程仍然运行  -->
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<!--  允许程序写入外部存储，如SD卡上写文件  -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<!--  在SDCard中创建与删除文件权限  -->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
	<!--  网络权限  -->
	<uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.mahjong.tools.MahjongApplication"
        android:allowBackup="true"        
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

		<provider
		    android:name="com.activeandroid.content.ContentProvider"
		    android:authorities="com.mahjong"
		    android:enabled="true"
		    android:exported="false">
		</provider>
        
        <meta-data android:name="AA_DB_NAME" android:value="mahjong.db" />  
        <meta-data android:name="AA_DB_VERSION" android:value="8" />  
        <meta-data
    		android:name="AA_MODELS"
    		android:value="com.mahjong.model.Player,com.mahjong.model.MjResult,com.mahjong.model.MjDetail,com.mahjong.model.AudioItem,com.mahjong.model.Character,com.mahjong.model.CharacterIcon,com.mahjong.model.RankItem,com.mahjong.model.SoundBox" />
        
        <activity
            android:name="com.mahjong.activity.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mahjong.activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.MjMainSelectActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.CreatePlayerActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.EditPlayerActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.PlayerSettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.HeadIconSelectActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.FileActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.jpn.MainSelectActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.jpn.PairsSelectActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.jpn.FanTypeActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.jpn.PointFormActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.jpn.SettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.jpn.CalculateActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.PlayerManageActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.jpn.GameActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.jpn.GameSimpleActivity"
            android:screenOrientation="nosensor" />
        <activity android:name="com.mahjong.activity.jpn.ResultSetSimpleActivity"
            android:screenOrientation="behind" />
        <activity android:name="com.mahjong.activity.jpn.ResultSetBombSimpleActivity"
            android:screenOrientation="behind" />
        <activity android:name="com.mahjong.activity.jpn.ResultSetComplexActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />  
        <activity android:name="com.mahjong.activity.jpn.ResultSetComplexActivityForRePort"
            android:screenOrientation="reversePortrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />     
        <activity android:name="com.mahjong.activity.jpn.ResultSetComplexActivityForLand"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize" />   
        <activity android:name="com.mahjong.activity.jpn.ResultSetComplexActivityForReLand"
            android:screenOrientation="reverseLandscape"
            android:configChanges="orientation|keyboardHidden|screenSize" />     
        <activity android:name="com.mahjong.activity.jpn.ResultShow"
            android:screenOrientation="portrait" />        
        <activity android:name="com.mahjong.activity.jpn.ResultShowForLand"
            android:screenOrientation="landscape" />   
        <activity android:name="com.mahjong.activity.jpn.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.jpn.HistoryDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.jpn.DiceActivity"
            android:screenOrientation="behind" />
        <activity android:name="com.mahjong.activity.jpn.ChangeScoreActivity"
            android:screenOrientation="behind" />
        <activity android:name="com.mahjong.activity.EmoticonActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.EmoticonDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.jpn.RankListActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.jpn.RankListDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.SoundEffectActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.SoundEffectDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.jpn.game17s.Game17sCalculateActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mahjong.activity.jpn.square.ChangeScoreActivity"
            android:screenOrientation="behind" />
        
    </application>

</manifest>
